*{
    font-family: 'Montserrat', sans-serif;

}
#tcolor{
    color: #0c8f45;
}

    

}
#map{
    padding-bottom:10px ;
}

.map{
  margin-top: 200px;
}

   

.contact-content{
    height: 700px;
}

#contact{
    height: 100px;
    width: unset;
}
.map-1{
    height: 300px;
    widows: 100px;
}



.offer-zone1{
    height: 95%;
    width: 68%;
    margin-top: 30px;}

.wapp{
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #0c8f45;
    border: none;
}
.delivery{
    
    
}
.welcome-section{
    height: 700px;
    margin-top: 30px;
}
.amenities{
    margin ;
}

#amenities{

    font-size: 25px;
    font-weight: bold;
}
#cards{
     margin-top:30px ;
}

  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0c8f45;
    color: white;
    text-align: center;
    height: 60px;
 }

 .btn{
    background-color: #0c8f45;
    color: white;
    border: 1px solid;
    margin-top: 17px;
 }
 .offer-content{
     height: 150px;
 }

 #fontindex{
     font-size:60% ;
 }
 #foot{
     height: 30px;
     font-size:10px ;
     padding-bottom:4px ;
 }
 #fb{
     height: 45px;
  
 }

 .corosel{
 
 }



#crlimg{
    margin-left: 20%;
}






.row {
   
    margin-right: 0px;
    margin-left:0px;
}



#fb-btn{
    margin-top: 10px;
}
 
