*{
    font-family: 'Montserrat', sans-serif;

}
#tcolor{
    color: #0c8f45;
}
.footcolor{
    background-color: #0c8f45;
    margin-top:50px ;
    

}
#map{
    padding-bottom:10px ;
}

.map{
  margin-top: 200px;
}

   

.contact-content{
    height: 700px;
}

#contact{
    height: 100px;
    width: unset;
}
.map-1{
    height: 300px;
    widows: 100px;
}



.offer-zone1{
    height: 50%;
    width: 60%;
    margin-top: 30px;
}

.wapp{
    width: 150px;
    height: 50px;
    color: aliceblue;
    background-color: #0c8f45;
    border: none;
}
